@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 22px;
        transform: rotate(0);
    }
    100% {
        top: 22px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg);
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 22px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-app {
    0% {
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu-app-in {
    0% {
        left: 40rem;
    }
    100% {
        left: 0;
    }
}

@keyframes menu-app-out {
    0% {
        left: 0;
    }
    100%{
        left: 40rem;
    }
}

@keyframes special-app {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .homepage-panel-row{
        flex-direction: column;
    }
    .homepage-panel-item{
        width: 100%;
        aspect-ratio: 4/3;
        border-right: none;
    }
    .hardware-item{
        height: 16rem;
        width: 13.125rem;
    }
    #hpi-right{
        border-right: none;
    }
}

@media screen and (max-width: 991px){
    .selection-flexbox{
        flex-direction: column;
        align-items: center;
    }
    .selection-temp{
        width: 100%;
        justify-content: center;
    }
    .hardware-item{
        width: 100%;
        height: calc(10rem + 24vw);
    }
    .title-desc{
        text-align: left;
        padding: 0;
    }
    .text-flexbox{
        padding: 2rem;
    }
    .about-image{
        height: 15rem;
    }
}

@media screen and (max-width: 576px){
    .homepage-panel-title{
        font-size: 24px;
    }
    .homepage-panel-desc{
        font-size: 16px;
    }
    .panel-text{
        padding: 2rem 0.625rem;
        background: linear-gradient(rgba(0, 0, 0, 1), #0000);
    }
    .hardware-item{
        margin: 1rem 0;
        width: 100%;
        height: 25rem;
    }
    .selection-temp{
        width: 85%;
        flex-direction: column;
    }
    .special-title-box{
        padding: 2rem 1rem;
    }
}
